[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "External/InAppPurchasing"]
	path = External/InAppPurchasing
	url = git@github.com:Bonobolabs/ios-in-app-purchasing.git
